AdvancedBuilder/
MonoBleedingEdge/
valheim_Data/
*.exe
BepInEx/*.log
BepInEx/cache/
*.log
Valheim Dedicated Server Manual.pdf
tier0*
steamclient*
start_headless_server.bat
valheim_server_Data/*
vstdlib_s*
logs/*
