## Settings file was created by plugin ESP v1.12
## Plugin GUID: esp

[1. HUD]

## Show info and stats on HUD
# Setting type: Boolean
# Default value: false
Show HUD = false

## Show current time and weather on the hud
# Setting type: Boolean
# Default value: true
Show current time and weather = true

## Show current position on the hud
# Setting type: Boolean
# Default value: true
Show current position = true

## Show ship stats on the hud
# Setting type: Boolean
# Default value: true
Show ship stats = true

## List of creature and item drop ids to track (separated by ,)
# Setting type: String
# Default value: Serpent
Tracked objects = Serpent

## Radius to find objects.
# Setting type: Single
# Default value: 500
Track radius = 500

[2. Tooltips]

## Show extra info on tooltips and hover texts (toggle with O button in the game)
# Setting type: Boolean
# Default value: false
Show extra info on tooltips = false

## Show resistances for creatures and structures
# Setting type: Boolean
# Default value: true
Resistances = true

## Show creature attacks
# Setting type: Boolean
# Default value: true
Attacks = true

## Show structure stats (health, resistances, support, etc.)
# Setting type: Boolean
# Default value: true
Structures = true

## Show creature stats (health, resistances, drops, attacks, taming, etc.)
# Setting type: Boolean
# Default value: true
Creatures = true

## Show destructible stats (health, resistances)
# Setting type: Boolean
# Default value: true
Destructibles = true

## Show pickable stats (respawn, timer)
# Setting type: Boolean
# Default value: true
Pickables = true

## Show item drop stats (stack size, despawn timer)
# Setting type: Boolean
# Default value: true
Item drops = true

## Show creature drops
# Setting type: Boolean
# Default value: true
Drops = true

## Show taming and breeding related information
# Setting type: Boolean
# Default value: true
Breeding = true

## Show creature status effects
# Setting type: Boolean
# Default value: true
Status effects = true

## Show all damage types on weapon tooltips
# Setting type: Boolean
# Default value: true
All damage types = true

## Show progress for plants and structures
# Setting type: Boolean
# Default value: true
Show progress = true

## Show support for structures
# Setting type: Boolean
# Default value: true
Show stats = true

## Show generator stats for locations
# Setting type: Boolean
# Default value: true
Locations = true

## Show generator stats for vegetation
# Setting type: Boolean
# Default value: true
Vegetation = true

## Show ship speed and wind direction on the ship
# Setting type: Boolean
# Default value: true
Show ship stats = true

[3. Visuals]

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Structure cover = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Structure support = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature noise = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature hear range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature view range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature alert range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature fire range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature breeding total range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature breeding partner range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature eating range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature food search range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Tracked creature rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Pickable rays (one time) = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Pickable rays (respawning) = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Location rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Chest rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Tree rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Ore rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Trophy speak spheres = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Destructible rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Spawn points (one time) = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Spawn points (respawning) = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature spawner rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature spawner trigger ranges = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature spawner limit ranges = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Creature spawner spawn ranges = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Altar rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Altar item stand range = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Altar spawn radius = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Spawn zones = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Zone corner rays = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Random event system = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Burning = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Comfort = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Custom container = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Custom crafting = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Fire = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Heat = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: No monsters = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Other = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Player base = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Warm cozy = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Private area = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Area effects: Teleport = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Smoke = -1

# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 1
Player cover = -1

[4. Excluded]

## List of creatures separated by ,
# Setting type: String
# Default value: 
Creatures = 

## List of creatures separated by , that are not visualized
# Setting type: String
# Default value: Seagal,FireFlies
Spawn systems = Seagal,FireFlies

## List of creatures separated by , that are not visualized
# Setting type: String
# Default value: 
Spawn points = 

## List of resources separated by , that are not visualized
# Setting type: String
# Default value: Wood,Stone,Rock*,*RockPillar
Resources = Wood,Stone,Rock*,*RockPillar

[5. Colors (predefined, #RRGGBB, #RRGGBBAA)]

# Setting type: String
# Default value: magenta
Creature ray = magenta

# Setting type: String
# Default value: green
Pickable ray (one time) = green

# Setting type: String
# Default value: blue
Pickable ray (respawning) = blue

# Setting type: String
# Default value: black
Location ray = black

# Setting type: String
# Default value: white
Chest ray = white

# Setting type: String
# Default value: gray
Ore ray = gray

# Setting type: String
# Default value: white
Tree ray = white

# Setting type: String
# Default value: magenta
Trophy speak sphere = magenta

# Setting type: String
# Default value: white
Destructible ray = white

# Setting type: String
# Default value: red
Spawn point ray (one time) = red

# Setting type: String
# Default value: yellow
Spawn point ray (respawning) = yellow

# Setting type: String
# Default value: cyan
Noise sphere = cyan

# Setting type: String
# Default value: green
Cover ray = green

# Setting type: String
# Default value: red
Cover ray (blocked) = red

# Setting type: String
# Default value: green
Creature hearing sphere = green

# Setting type: String
# Default value: white
Creature sight cone = white

# Setting type: String
# Default value: red
Creature alert sight cone = red

# Setting type: String
# Default value: magenta
Creature fire limit sphere = magenta

# Setting type: String
# Default value: cyan
Creature total limit sphere = cyan

# Setting type: String
# Default value: magenta
Creature partner check sphere = magenta

# Setting type: String
# Default value: gray
Creature food check sphere = gray

# Setting type: String
# Default value: black
Creature eat range sphere = black

# Setting type: String
# Default value: red
Spawner ray = red

# Setting type: String
# Default value: red
Spawner trigger sphere = red

# Setting type: String
# Default value: white
Spawner near limit sphere = white

# Setting type: String
# Default value: cyan
Spawner spawn sphere = cyan

# Setting type: String
# Default value: red
Altar ray = red

# Setting type: String
# Default value: red
Altar item stand range sphere = red

# Setting type: String
# Default value: red
Altar spawn radius sphere = red

# Setting type: String
# Default value: gray
Ward effect sphere = gray

# Setting type: String
# Default value: cyan
Comfort effect sphere = cyan

# Setting type: String
# Default value: yellow
Burning effect sphere = yellow

# Setting type: String
# Default value: magenta
Heat effect sphere = magenta

# Setting type: String
# Default value: red
Fire effect sphere = red

# Setting type: String
# Default value: green
No monsters effect sphere = green

# Setting type: String
# Default value: blue
Teleport effect sphere = blue

# Setting type: String
# Default value: white
Player base effect sphere = white

# Setting type: String
# Default value: black
Unknown effect spheres = black

# Setting type: String
# Default value: magenta
Warm and cozy effect sphere = magenta

# Setting type: String
# Default value: yellow
Custom container sphere = yellow

# Setting type: String
# Default value: yellow
Custom crafting station sphere = yellow

# Setting type: String
# Default value: black
Smoke sphere = black

# Setting type: String
# Default value: black
Random even system ray = black

# Setting type: String
# Default value: red
Ashlands color = red

# Setting type: String
# Default value: magenta
Black Forest color = magenta

# Setting type: String
# Default value: gray
Deep North color = gray

# Setting type: String
# Default value: green
Meadows color = green

# Setting type: String
# Default value: gray
Mistlands color = gray

# Setting type: String
# Default value: white
Mountain color = white

# Setting type: String
# Default value: blue
Ocean color = blue

# Setting type: String
# Default value: yellow
Plains color = yellow

# Setting type: String
# Default value: cyan
Swamp color = cyan

# Setting type: String
# Default value: black
Unknown biome color = black

[6. Width of visuals]

## Custom effect area sphere for containers (0 to disable)
# Setting type: Single
# Default value: 0
Custom radius for containers = 0

## Custom effect area sphere for crafting stations (0 to disable)
# Setting type: Single
# Default value: 0
Custom radius for crafting stations = 0

# Setting type: Int32
# Default value: 2
Creature fire alert range = 2

# Setting type: Int32
# Default value: 2
Creature senses = 2

# Setting type: Int32
# Default value: 2
Breeding limits = 2

# Setting type: Int32
# Default value: 2
Cover rays = 2

# Setting type: Int32
# Default value: 2
Player cover rays = 2

# Setting type: Int32
# Default value: 2
Smoke = 2

# Setting type: Int32
# Default value: 10
Tracted creature rays = 10

# Setting type: Int32
# Default value: 2
Spawn points (one time) = 2

# Setting type: Int32
# Default value: 2
Spawn points (respawning) = 2

# Setting type: Int32
# Default value: 2
Creature spawner rays = 2

# Setting type: Int32
# Default value: 2
Creature spawner trigger range = 2

# Setting type: Int32
# Default value: 2
Creature spawner limit range = 2

# Setting type: Int32
# Default value: 2
Creature spawner spawn range = 2

# Setting type: Int32
# Default value: 2
Boss altar rays = 2

# Setting type: Int32
# Default value: 2
Boss altar item stand range = 2

# Setting type: Int32
# Default value: 2
Boss altar spawn radius = 2

# Setting type: Int32
# Default value: 10
Spawn zones = 10

# Setting type: Int32
# Default value: 10
Zone corner rays = 10

# Setting type: Int32
# Default value: 10
Random event system = 10

# Setting type: Int32
# Default value: 2
Pickable rays (one time) = 2

# Setting type: Int32
# Default value: 2
Pickable rays (respawning) = 2

# Setting type: Int32
# Default value: 2
Chest rays = 2

# Setting type: Int32
# Default value: 2
Ore rays = 2

# Setting type: Int32
# Default value: 2
Tree rays = 2

# Setting type: Int32
# Default value: 10
Trophy speak spheres = 10

# Setting type: Int32
# Default value: 2
Destructible rays = 2

# Setting type: Int32
# Default value: 10
Location rays = 10

# Setting type: Int32
# Default value: 2
Area effects = 2

# Setting type: Int32
# Default value: 2
Noise = 2

