## Settings file was created by plugin Gizmo Reloaded v1.1.5
## Plugin GUID: m3to.mods.GizmoReloaded

[General]

## The different Snap Divisions per 360° you can cycle through (Vanilla is 16)
# Setting type: String
# Default value: 8, 16, 32, 64, 128
SnapDivisions = 8, 16, 32, 64, 128

## Press this key to go to the previous Snap Division
# Setting type: String
# Default value: KeypadMinus
CyclePrevSnapKey = KeypadMinus

## Press this key to go to the next Snap Division
# Setting type: String
# Default value: KeypadPlus
CycleNextSnapKey = KeypadPlus

## Hold this key to rotate in the x plane (red circle)
# Setting type: String
# Default value: LeftControl
xKey = LeftShift

## Hold this key to rotate in the z plane (blue circle)
# Setting type: String
# Default value: LeftAlt
zKey = LeftAlt

## Press this key to reset all axes to zero rotation
# Setting type: String
# Default value: V
ResetKey = F

## The default visuals mode - Options are ShowAll, OnlySelected, None
# Setting type: String
# Default value: ShowAll
DisplayMode = OnlySelected

## Press this key to cycle through the different axis Display Modes
# Setting type: String
# Default value: KeypadEnter
CycleDisplayModeKey = KeypadEnter

## The different unlocalized id of the tools that are prevented from using Gizmo
# Setting type: String
# Default value: item_hoe
BlockedTools = item_hoe

