## Settings file was created by plugin OreSupport v1.5.0.0
## Plugin GUID: valheim.jerekuusela.ore_support

[General]

## Whether this mod is enabled. Can be toggled with command ore_support.
# Setting type: Boolean
# Default value: true
Enabled = true

## How often the support is checked. Higher values lower performance.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 1 to 60
Refresh interval = 5

## Maximum amount of boxes to display. Higher values lower performance.
# Setting type: Int32
# Default value: 200
# Acceptable value range: From 0 to 200
Max boxes = 200

## Minimum amount of pieces to display any boxes.
# Setting type: Int32
# Default value: 75
# Acceptable value range: From 0 to 200
Min size = 10

## Maximum amount of remaining parts before showing any boxes. Higher values lower performance.
# Setting type: Int32
# Default value: 200
# Acceptable value range: From 0 to 200
Max parts = 200

## Line width of the bounding boxes.
# Setting type: Single
# Default value: 2
# Acceptable value range: From 1 to 100
Line width = 1

## Show supporting objects. Enabling lowers performance.
# Setting type: Boolean
# Default value: true
Supporting objects = true

## Color of supported pieces.
# Setting type: String
# Default value: red
Supported color = red

## Color of pieces that will cause the rock to collapse.
# Setting type: String
# Default value: orange
Critical supported color = orange

## Color of pieces that are no longer supported.
# Setting type: String
# Default value: green
Unsupported color = green

## Color of supporting objects.
# Setting type: String
# Default value: yellow
Support color = yellow

Max pieces = 50

Color = gray

